@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.group:hover .flex {
  animation-play-state: paused;
}

/* Slider Dots को स्टाइल करने के लिए */
.slick-dots li button:before {
  font-size: 12px;
  color: #d1d5db; /* आपकी Light Grey थीम का रंग */
}

.slick-dots li.slick-active button:before {
  color: #FFD700; /* आपकी Gold थीम का रंग */
}